*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body,
button,
input,
textarea{
    font-family: $body-font;
    font-size: $normal-font-size;
}
body{
    background: $body-color;
    color: $first-color;
    transition: background .4s;
}
/*h1,h2,h3{
    color: $first-color;
    font-family: $body-font;
    font-weight: 700;
}*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
p {
    font-size: $normal-font-size;
    text-align: left;
    line-height: $line-height-text;
    margin-top: 1.5rem;
    margin-bottom: 10px;
    font-weight: 300;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
  }
}

.grid{
    display: grid;
    gap: 1.5rem;
}
span {
    color: $span-color;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $box-color;
    z-index: $z-fixed;
}
.nav {
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    align-items: center;
    transition: box-shadow .3s, background .4s;
}
.nav__logo {
    align-items: center;
    column-gap: .5rem;
    font-family: $charg-font;
    font-size: $h3-font-size;
    color: $first-color;
    font-weight: $font-bold;
    transition: color .3s;
}
.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}
.nav__logo img {
    width: 25px;
}
.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}


.nav__link{
    color: $first-color-alt;
    font-weight: 400;
    transition: color .4s;
}
.nav__link:hover{
    color: $charg__loader;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}
.show-menu{
    top: 0%;
}
/* SECTION */

.main{
    padding: 70px 1% 10px;
    margin-inline: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;

    .card-image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            transform: transform 0.3s;

            :hover {
                transform: scale(1.1);
            }
        }
    }
}
.card__text {
    display: flex;
    flex-direction: column;
    background: $box-color;
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;
        .hero-card-text {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: $h1-font-size;
            margin-bottom: 10px;
            line-height: 1.5;
            font-weight: 500;
        }
    
}
.home {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
}

.about-txt {
    font-size: $h3-font-size;
    margin: 6rem 0 6rem 0;
}
.portfolio {
    margin-bottom: 4rem;
}
.port-container {
    display: grid;
    gap: 0;
    margin: 4rem 0 4rem 0;
}
.card-port {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $box-color;
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px 0 0 16px;
    overflow: hidden;
    .port__text {
        width: 60%;
    }
}
.image-container img {
    border-radius: 0 16px 16px 0;
}
.button-container {
    padding-top: 1rem;
}
.button {
    width: 130px;
    height: 30px;
    color: $body-color;
    border-radius: 6px;
    font-family: $charg-font;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}
.btn-rux {
    padding-top: 6.5rem;
}

.btn-15 {
    background: $first-color;
    border: none;
    z-index: 1;

    ::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $charg__loader;
        border-radius: 6px;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,0.1), 4px 4px 5px 0px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }
    &:hover {
        color: $charg__loader;
    }
    &:hover::after {
        left: 0;
        width: 100%;
    }
    &:active {
        top: 2px;
    }
}
.comi{
    margin-top: 4rem;
}
.rux-top {
    margin-top: 2rem;
}
.rect--ap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $box-color;
    width: 100%;
    max-width: 100%;
    height: 16rem ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;
    .apropos__title {
        font-family: $charg-font;
    }
}
.grap {
    width: 100%;
    height: 300px; 
    padding: 20px;
    background-color: #d48b8b;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: $z-tooltip;
  }
  .grap__bar {
    width: 100%;
    height: 100%;
    padding: 20px;
    
  }
  #barCanvas {
    width: 100%;
    height: 100%;
  }

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $box-color;
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;
}
.fot__h {
    font-weight: 500;
    text-align: center;
    font-size: $h3-font-size;
    font-family: $charg-font;
    margin: 0;
}
.fot__p {
    text-align: center;
}
:root {
    --m: 4rem;
  }
footer {
    margin-top: 16rem;
    z-index: 500;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5rem 2vw;
    position: relative;
    background: $box-color;
}
  .col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    height: 0 auto;
    width: 100%;
  }
 
  .col2{
    background-color: $body-color;
    border-radius: 16px;
  }
.fot__h {
    font-size: $h1-font-size;
}
.fot__p {
    font-size: $h2-font-size;
}
   
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: pointer;
    :hover {
        transform: scale(1.1);
    }

  .link {
    width: calc(0.8 * var(--m));
    height: calc(0.8 * var(--m));
    background: $body-color;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
}
    .apropos__title {
        padding: 10px;
        font-size: $h1-font-size;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 500;
    }
  
  .aps {
    padding-top: 2rem;
  }
 .illu {
    padding-top: 3rem;
    font-family: $charg-font;
    font-size: $h2-font-size;
    padding-bottom: 4rem;

    .img__illu {
        margin-bottom: 3rem;
        background: $box-color;
    }
 } 
 .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
 }
 

  .photos {
    padding-top: 3rem;
    font-family: $charg-font;
    font-size: $h2-font-size;
    padding-bottom: 4rem;

    .img__photos {
        margin-bottom: 3rem;
        background: $box-color;
    }
 } 

 .comp__txt{
    padding-top: 2rem;

    .comp__h2{
        font-size: $h1-font-size;
        font-weight: 700;
    }
    .comp__h3{
        font-size: $h2-font-size;
        font-weight: 600;
        padding-top: 3rem;
    }
    .li__comp {
        padding: 1rem;
    }
 }
 .card-content {
    padding: 20px;
 }
 form {
    width: 60%;
    text-align: center;
    button:hover{
        box-shadow: none;
    }
 }
 .field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid $first-color;
    border-radius: 6px;
    font-size: $body-font;
    color: $first-color-alt;
    margin: 12px 0;
 }
.field.error .item {
    border-color: $charg__loader;
}
 .field .item::placeholder {
    color: rgba(255, 255, 255, .3);
 } 
 .field .error-txt {
    font-size: 15px;
    color: $charg__loader;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
 }
 .field.error .error-txt {
    display: block;
 }
 form button {
    padding: 12px 32px;
    background: $charg__loader_2;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px $charg__loader_2;
    font-size: 16px;
    color: $box-color;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .5s;
 }
 
 input, textarea {
    padding: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    width: 100%;
 }

 input [type="submit"] {
    background-color: $charg__loader;
    color: $first-color-alt;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
 }
 input[type="submit"]:hover {
    background-color: $charg__loader_2;
  }
  .card__contact {
    display: flex;
    flex-direction: column;
    background: $body-color;
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    overflow: hidden;
  }
/* ============ SCROLL UP ============ */
.scrollup{
    position: fixed;
    bottom: -50%;
    background-color: $charg__loader;
    box-shadow: 0 4px 12px rgba(22, 64, 100, 0.1) ;
    right: 8px;
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: $first-color;
    z-index: $z-tooltip;
    transition: bottom .3s, transform .3s, background .4s;

}
.scrollup:hover{
    transform: translateY(-.25rem);
}

.show-scroll{
    bottom: 3rem;
}
  @media screen and (max-width: 480px) {
    .gallery-container {
    grid-template-columns: 1fr;
    } 
}
@media screen and (max-width: 767px){
.nav__menu{
    position: fixed;
    top: -100%;
    left: 0; 
    background: $box-color;
    width: 100%;
    box-shadow: 0 8px 20px rgba(33, 11, 62, 0.1);
    padding-block: 3.5rem;;
    transition:  top .4s;
    }
    .home {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr;
    }
    .gallery-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .port-container {
        gap: 1rem;
    }
    .card-port {
        border-radius: 16px;
    }
    
}
@media screen and (min-width: 768px){
    .nav{
        column-gap: 3rem;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__list{
        display: flex;
        text-align: center;
        row-gap: 2rem;
    }
    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    .rux {
        border-radius: 0 16px 16px 0;
    }
    footer {
        padding-block: 3.5rem;
        height: 50vh;
        .col {
            width: 100%;
            .fot__h {
                font-size: $h1-font-size;
            }
            .fot__p {
                font-size: $h2-font-size;
            }
        }
    }
    .grid-aps {
        width: 80%;
    }

}
@media screen and (min-width: 991px) {
    .main {
        margin-inline: 3rem;
    }
    
    .card-text {
        padding: 2rem 8rem 4rem 2rem;
        .hero-card-text {
        font-size: $bg-h1-font-size;
        }
    }
    .about-txt  {
        font-size: $bg-h3-font-size;
        font-weight: 500;
    }
    .card-port {
        padding: 2rem 8rem 4rem 2rem;
        .card__txt{
            font-size: $bg-h1-font-size;
        }
        .port__text {
            font-size: $bg-normal-font-size;
        }
    }
    .grid-aps {
        width: 70%;
        .aps-txt{
            font-size: $bg-h4-font-size;
            line-height: $bg-line-height-text;
        }
    }
    .illu {
        padding-top: 16rem;
    }
    .img__illu {
        font-size: $bg-h1-font-size;
    }
    .comp__txt {
        margin: 1rem 1rem;
        padding: 2rem 2rem;
        .comp__h2 {
            font-size: $bg-biggest-font-size;
        }
        .comp__h3 {
            font-size: $bg-h2-font-size;
        }
        .p__comp {
            width: 60%;
            font-size: $bg-h4-font-size; 
        }
    }
    .li__comp-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .li__comp{
            margin: 2rem;
            font-size: $bg-h4-font-size; 
        }
    }
}
@media screen and (min-width: 1200px) {
    .main {
        margin-inline: 3rem;
    }
    
    .card-text {
        padding: 2rem 8rem 4rem 2rem;
        .hero-card-text {
        font-size: $bg-h1-font-size;
        }
    }
    .about-txt  {
        font-size: $bg-h3-font-size;
        font-weight: 500;
    }
    .card-port {
        padding: 2rem 8rem 4rem 2rem;
        .card__txt{
            font-size: $bg-h1-font-size;
        }
        .port__text {
            font-size: $bg-normal-font-size;
        }
    }
    .grid-aps {
        width: 60%;
        .aps-txt{
            font-size: $bg-h2-font-size;
            line-height: $bg-line-height-text;
        }
    }
    .illu {
        padding-top: 16rem;
    }
    .img__illu {
        font-size: $bg-h1-font-size;
    }
    .rect--ap {
       .apropos__title{
        font-size: $bg-h1-font-size;
       } 
    }
    .comp__txt {
        margin: 2rem 2rem;
        padding: 6rem 6rem;
        .comp__h2 {
            font-size: $bg-biggest-font-size;
        }
        .comp__h3 {
            font-size: $bg-h2-font-size;
        }
        .p__comp {
            width: 60%;
            font-size: $bg-h4-font-size; 
        }
    }
    .li__comp-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .li__comp{
            margin: 2rem;
            font-size: $bg-h4-font-size; 
        }
    }
    span{
        font-size: $bg-h3-font-size;
    }
}
    
