   /*===== COLORS =======*/

   $first-color: #eff5f4;
   $first-color-alt: #D7DDDD;
   $title-color: #FFFFFF;
   $text-color: #ffffff;
   $text-color-light: #626F6E;
   $body-color: #181A1C;
   $box-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   $span-color: #333839;
   $charg__loader: #CE532E;
   $charg__loader_2: linear-gradient(90deg, rgba(228,209,240,1) 0%, rgba(255,255,255,1) 50%, rgba(80,124,195,1) 100%);;
   $charg__loader_3: #5D6C95;


   /*===== Font/Typography =======*/

    $body-font: "Plus Jakarta Sans", sans-serif ;
    $title-font: "Plus Jakarta Sans", sans-serif ;
    $charg-font: "Rubik Glitch", système-ui ;
    $biggest-font-size: 42px;
    $h1-font-size: 1.7rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem; 
    $tiny-font-size: .625rem;
    $trois-font-size: 45px;
    $line-height: 6rem;
    $line-height-text: 1.8rem;


    /*===== Font weight =======*/

    $font-regular: 400;
    $font-bold: 700;

   /*===== z index =======*/

   $z-tooltip: 1; 
   $z-fixed: 10;
   $z-modal: 100;

   /*===== big sreen =======*/

    $bg-biggest-font-size: 62px;
    $bg-h1-font-size: 2.2rem;
    $bg-h2-font-size: 1.85rem;
    $bg-h3-font-size: 1.5rem;
    $bg-h4-font-size: 1.2rem;
    $bg-normal-font-size: 1.3rem;
    $bg-small-font-size: 1rem;
    $bg-smaller-font-size: .95rem; 
    $bg-tiny-font-size: .725rem;
    $bg-trois-font-size: 55px;
    $bg-line-height: 6rem;
    $bg-line-height-text: 2.6rem;